@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

#header1-0 H1 {
  color: #7ac673;
}
#header1-0 SPAN {
  font-family: 'Oswald', sans-serif;
}
#header1-0 P {
  color: #faf61c;
}
#msg-box4-j .mbr-header__text {
  color: #ffffff;
  text-align: left;
}
#msg-box4-j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-j .mbr-article {
  color: #ffffff;
}
#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-1 .mbr-navbar__section {
  background: #ffffff;
}
#menu-1 .mbr-navbar__hamburger {
  color: #27aae0;
}
#menu-1 .mbr-brand__name a {
  font-size: 18px;
}
#msg-box3-u .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-9 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-9 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-9 .mbr-article {
  text-align: left;
}
#contacts2-t P {
  color: #faaf40;
}

#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-6 .mbr-navbar__section {
  background: #ffffff;
}
#menu-6 .mbr-navbar__hamburger {
  color: #27aae0;
}
#menu-6 .mbr-brand__name a {
  font-size: 18px;
}
#gallery1-7 P {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
}
#gallery1-7 SMALL {
  text-align: center;
}
#contacts2-t P {
  color: #faaf40;
}
#menu-a .mbr-brand__name {
  font-size: 16px;
}
#menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-a .mbr-navbar__section {
  background: #ffffff;
}
#menu-a .mbr-navbar__hamburger {
  color: #27aae0;
}
#menu-a .mbr-brand__name a {
  font-size: 18px;
}
#msg-box3-g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts2-t P {
  color: #faaf40;
}
#menu-b .mbr-brand__name {
  font-size: 16px;
}
#menu-b.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-b .mbr-navbar__section {
  background: #ffffff;
}
#menu-b .mbr-navbar__hamburger {
  color: #27aae0;
}
#menu-b .mbr-brand__name a {
  font-size: 18px;
}
#contacts2-t P {
  color: #faaf40;
}
#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-k .mbr-navbar__section {
  background: #ffffff;
}
#menu-k .mbr-navbar__hamburger {
  color: #27aae0;
}
#menu-k .mbr-brand__name a {
  font-size: 18px;
}
#msg-box4-n .mbr-header__text {
  color: #ffffff;
}
#msg-box4-n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-n .mbr-article {
  color: #ffffff;
}
#contacts2-t P {
  color: #faaf40;
}

#menu-l .mbr-brand__name {
  font-size: 16px;
}
#menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-l .mbr-navbar__section {
  background: #ffffff;
}
#menu-l .mbr-navbar__hamburger {
  color: #27aae0;
}
#menu-l .mbr-brand__name a {
  font-size: 18px;
}
#gallery1-m P {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
}
#gallery1-m SMALL {
  text-align: center;
}
#msg-box2-v .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-v .mbr-article {
  color: #252525;
}
#contacts2-t P {
  color: #faaf40;
}
#menu-o .mbr-brand__name {
  font-size: 16px;
}
#menu-o.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-o .mbr-navbar__section {
  background: #ffffff;
}
#menu-o .mbr-navbar__hamburger {
  color: #27aae0;
}
#menu-o .mbr-brand__name a {
  font-size: 18px;
}
#msg-box4-s .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
}
#msg-box4-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-s .mbr-article {
  color: #ffffff;
}
#msg-box4-s .mbr-header__text SPAN {
  font-size: 16px;
}
#contacts2-t P {
  color: #faaf40;
}
